@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --font1:'Lato';
    /* --font1: 'Courier New', Courier, monospace; */
    --font2:'Quintessential';
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(219, 195, 195);
    color: rgb(0, 0, 0);
    /* overflow: hidden; */
}
body::-webkit-scrollbar{
    display: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed !important; 
    top: 0%;
    /* background-color: rgb(0, 0, 0); */
z-index: 25;
    padding:0.2vmax 2vmax;
    
}
.navtxt{
    font:500 1vmax var(--font1);
    margin:0 0.5vmax;
}
.logo{
    font:900 2vmax var(--font1);
    color: rgb(78, 147, 216) ;
}
.logob{
    color: #000;
}
.navright{
    display: flex;
}
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* position: relative; */
    /* margin: 8vmax 0 0 10vmax; */
    /* background-color: aquamarine; */
}
.herol{
    width: 50vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items:center ;
    margin-left: 6vmax;
}
.herov{
    /* position: absolute; */
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    /* z-index: -1; */
}
.herotop{
    font:700 7vmax var(--font1);
    text-transform: uppercase;
    color: rgb(78, 147, 216);
    /* text-shadow: 2px 2px 10px; */
    /* text-align: center; */
}
.heros{
    color: #000;
}
.herobottom{
    font:600 5vmax var(--font2);
}
.contact,.page1bottombtn,.page2bottombtn{
    font:300 1vmax var(--font1);
    padding: 0.5vmax 3vmax;
    border-radius: 50px;
    margin: 2vmax;
    color: rgb(219, 195, 195);;
    background-color: #000;
}
.slidediv{
    /* position: absolute; */
    width: 50vw;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* perspective: 900px; */
    /* perspective-origin: left; */
    overflow: hidden;
}
.images{
    height: 100%;
    width: 200vw;
    display: flex;
    position: absolute;
    /* justify-content: center; */
    /* transform: rotateY(25deg); */
    /* transform-origin: left; */
   
}
.image{
    height: 100%;    
}
.page1{
    /* width: 100vw; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(189, 170, 170); */
}
.page1top{
    font:500 2vmax var(--font1);
    width: 40%;
    /* background-color: rgb(146, 63, 63); */
    transform: translateX(-30%);
    margin: 2vmax;
}
.page1bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(71, 66, 66); */
    width:25%;
    transform: translateX(60%);
}

.page1bottomtxt{
    font:300 1.2vmax var(--font1);
    /* width:25%; */
    padding: 0;
    margin: 2vmax;
}
.page2{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.page2div{
    width: 75vw;
    /* display: flex;
    justify-content: center; */
    /* background-color: aquamarine; */
}
.page2top{
    /* height: 30vh; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin:0 0 8vmax 0; */
    /* background-color: aqua; */
    padding: 0 2vmax;
}
.page2topright{
    /* height: 100%; */
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:2vmax 0;
}
.page2tophead,.page3head{
    font:900 8vmax var(--font1);
    line-height: 15vmin;
}
.page2toptxt{
    font:400 1.1vmax var(--font1);
    padding-bottom: 1vmax;
}
.page2line{
    width: 100%;
    height: 3px;
    background-color: black;
}
.page2bottom{
    display: flex;
    width: 100%;
    margin-top: 2vmax;
    /* background-color: aqua; */
}
.page2l{
    width: 25%;
    border-top-style: solid;
    border-color: rgb(177, 176, 176);
    border-width: 1px;
    padding: 3vmax 2vmax ;
}
.page2r{
    width: 75%;
}
.page2block{
    width: 100%;
    height: 45vh;
    /* background-color: aqua; */
    display: flex;
}
.page2block1{
    padding: 3vmax;
    padding: 3%;
    width: 53%;
    height: 100%;
    border-left-style: solid;
    border-top-style: solid;
    border-color: rgb(177, 176, 176);
    border-width: 1px;
}
.page2block2{
    width: 47%;
    height: 100%;
    border-left-style: solid;
    border-top-style: solid;
    border-color: rgb(177, 176, 176);
    border-width: 1px;
    padding: 3% 0 3% 3%;
}
.page2video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page2blocktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page2block:hover .page2subline{
    width: 100%;
}
.page2subhead{
    font:600 1.6vmax var(--font1);
    text-transform: uppercase;
}

.page2blockbottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 2vmax;
    height: 75%;
    /* background-color: aqua; */
}
.page2blocktxt{
    font:500 0.9vmax var(--font1);
    width: 70%;
}
.page2subline{
    width: 0%;
    height: 2px;
    background-color: black;
    margin-top: 3px;
    transition: 0.25s;
    transform-origin: left;
}
.arrow2{
    color: black;
    font-size: 2vmax;
    
}
     .page3{
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        margin: 3vmax 0 8vmax 0;
    }
.page3div{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
    .vh80{
        width: 100vw;
        height: 80vh;
    }
   
    .slides{
        width: 100vw;
        background-color: aquamarine;
        display: flex;
        
    }
    .slideleft{
        width: 100%;
        position: relative;
    }
    .slideright{
        width: 30%;
        height: 320vh;
        background-color: brown;
    }
    .slide{
        width: 100%;
        height: 80vh;
        /* border-style: dashed; */
        background-color: aqua;
    }
    #slide1{
        /* position: relative; */
        /* transform: translateY(276%); */
        z-index: -8;
    }
    #slide2{
        /* position: relative; */
        /* transform: translateY(184%); */
        z-index:-5;
    }
    #slide3{
        /* transform: translateY(92%); */
        z-index: -1;
    }
    .slide4{
        position: relative;
        z-index: 165;
    }
    .slidenav{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(49, 49, 49);
        background-color: black;
    }
    .slidehead1{
        font:400 1.5vmax var(--font1);
        color: rgb(255, 255, 255);
        margin: 0 1vmax;
    }
    .slidehead2{
        font:300 1.5vmax var(--font1);
        margin: 0 1vmax;
    }
    .slidetxt{
        font:400 1.8vmax var(--font1);
    }
    .slidev,.slidebg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slideimg{
        overflow: hidden;
        width: 100%;
        height: 92%;
        
    }
   

    .swiperup{
display: flex;
justify-content: center;
margin: 3vmax;
    }
.swiper{
    width:100vw ;
    height: 50vh;
    /* background-color: rgb(160, 52, 52); */
}
.swiper-slide{
    width:40vw ;
    height: 40vh;
    background-color: rgb(29, 29, 29);
    border-radius: 40px;
    padding: 1.5vmax;
    display: flex;
    justify-content: space-between;
    margin: 2vmax;
}
.swipeimg{
    height: 100%;;
    border-radius: 20px;
}
.swiperight{
    width:30vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding:2vmax 1vmax;
}

.swipeup{
    font:500 1.1vmax var(--font1);
}
.namex{
    font:500 1.1vmax var(--font1);
}
.namexx{
    font:400 0.9vmax var(--font1);
    color: rgb(119, 119, 119);
}

.logos{
    width: 100vw;
height: 40vh;
/* background-color: #fff; */
}
.logo1{
    display: flex;
    height: 30%;
/* background-image: url('https://assets.website-files.com/62838db5e5cc597190f9a798/6286c132ed05494f5caa7f17_2.webp'); */
}
.logo2{
    display: flex;
    height: 30%;
    /* background-image: url('https://assets.website-files.com/62838db5e5cc597190f9a798/6286c132ed05494f5caa7f17_2.webp'); */
    }
    .logo3{
        display: flex;
        height: 30%;
        /* background-image: url('https://assets.website-files.com/62838db5e5cc597190f9a798/6286c132ed05494f5caa7f17_2.webp'); */
        }

    .page4{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-style: solid;
        border-width: 1px;
        padding: 6vmax;
    }

    .page5{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        /* background-color: bisque; */
    }
    .page5-1,.page5-2,.page5-3,.page5-4{
        width: 15vw;
        margin: 1vmax;
        border-width: 1px;
    }
    .page5-3,.page5-4{
        transform: translateY(50%);
    }
       .page5-2{
        border-right-style: solid;
    }
    .page5num{
        font:600 4vmax var(--font2);
    }

    .page5head{
        font:600 2.5vmax var(--font1);
    }
    .page5head{
        font:400 1.2vmax var(--font1);
    }
    .page6{
        width: 100vw;
        display: flex;
        margin: 3vmax 0;
    }
    .page6left{
        width: 50%;
        display: flex;
        justify-content: center;
        /* background-color: bisque; */
    }
    .award{
        font:700 6vmax var(--font1);
        margin-top: 5vmax;
    }
    .page6right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .awardcard{
        height: 50vh;
        width: 35vw;
        border-style: solid;
        border-width: 1px;
        border-radius: 40px;
        padding: 1vmax;
        margin: 2vmax;
        border-color: rgb(49, 49, 49);
    }
    .p6img{
        margin-top: 1vmax;
        border-radius: 20px;
        width: 100%;
        height: 74%;
        object-fit: cover;
    }
    .p6txt1{
        font:400 1.2vmax var(--font1);
        margin-top: 1vmax;
    }
    .p6txt2{
        font:400 1.2vmax var(--font1);
        margin-top: 0.4vmax;
    }

    .page7{
        /* height: 80vh; */
        width: 100vw;
        border-style: solid;
        border-width: 1px;
        border-radius: 90vw/50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:3vmax;
        margin: 3vmax 0;
        /* border-color: rgb(49, 49, 49); */
        background-color: rgb(84, 50, 50);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

    }
    .page7head{
        font:700 6vmax var(--font1);
        margin: 1vmax;
    }
    /* .xx7{
        font:700 6vmax var(--font1);
        margin: 1vmax;
    } */
    .page7subhead{
        font:400 2vmax var(--font1);
        margin: 1vmax;
    }
    .btns{
        display: flex;
        /* margin: 1vmax; */
    }
    .btn{
        color: #fff;
        text-decoration: none;
        font:400 0.8vmax var(--font1);
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 0.8vmax 1.5vmax;
        margin: 0.5vmax;
    }

    .info{
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name{
        width: 100%;
        color: #fff;
        text-decoration: none;
        font:400 0.8vmax var(--font1);
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        padding: 0.8vmax 1.5vmax;
        margin: 1vmax;
    }
    .dis{
        /* width: 100%; */
        color: #fff;
        text-decoration: none;
        font:400 0.8vmax var(--font1);
        border-style: solid;
        border-width: 1px;
        /* border-radius: 50px; */
        padding: 5vh 6vw;
        margin: 0.5vmax;
    }
    .send{
        color: #fff;
        background-color: rgb(31, 77, 226);
        text-decoration: none;
        font:400 0.8vmax var(--font1);
        border-radius: 50px;
        padding: 0.8vmax 1.5vmax;
        margin: 0.5vmax;
    }
